/*
 * Allison Poh
 * CIS 452 Project: Marathon Database Application
 */

.root {
	-fx-padding: 0 10px 0 0;
    -fx-background-color: #f7f7f7;
}

ComboBox, DatePicker, TextField {
	-fx-min-width: 150px;
	-fx-max-width: 150px;
}

TextArea {
	-fx-font-size: 16px;
} 

Button {
	-fx-min-width: 50px;
	-fx-max-width: 50px;
	-fx-min-height: 30px;
	-fx-max-height: 30px;
	-fx-background-radius: 20px;
}

#search1VB, #search2VB, #search3VB {
	-fx-alignment: center;
}

#selectionsVB {
	-fx-spacing: 5px;
	-fx-padding: 10px;
}

#titleTXT {
	-fx-font-size: 30px;
	-fx-font-weight: bold;
}

#titleVB {
	-fx-alignment: center;
	-fx-padding: 5px;
}

#sourceTXT {
	-fx-font-size: 12px;
}

#bottomHB {
	-fx-padding: 5px;
}




